<div class="main-content-wrap  d-flex flex-column">				
  <div class="main-content"> 
    <div class="row m-t-15">
      <div class="col-md-12">
        <div class="card ">
          <h5 class="card-title p-custom1">Timeline graph for confirmed patients (Month and year wise count)</h5>
          <div class="card-body p-0">
            <%= column_chart @data %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>