<ul class="navbar-nav mr-auto" style="margin-left: 1%;">
  <li class="nav-item active m-l-1">
    <a class="nav-link" href="/lab_patients">
      <i class="nav-icon fa fa-dashboard mr-1"></i>Dashboard <span class="sr-only">(current)</span></a>
  </li>

  <li class="nav-item dropdown m-l-1">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"><i class="nav-icon fa fa-bug mr-1"></i>Insecticides</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="/insecticide_stocks">Insecticide Stock</a>
    </div>
  </li>
  <li class="nav-item dropdown m-l-1">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
      <i class="nav-icon fa fa-wheelchair mr-1"></i>Patients
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="/patients">Patients Listing</a>
      <%# <a class="dropdown-item" href="/lab_patients">Lab Patients Listing</a> %>
    </div>
  </li>
  <li class="nav-item dropdown m-l-1">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
      <i class="nav-icon fa fa-chart-line mr-1"></i>Activities</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="<%= line_list_activities_vector_surveillances_path %>">Vector Surveillance Activity List</a>
      </div>
    </a>
  </li>
      
  <%=  render '/application/help' %>
</ul>