<ul class="navbar-nav mr-auto" style="margin-left: 1%;">
  <li class="nav-item active m-l-1">
    <a class="nav-link" href="/home_lab_users">
      <i class="nav-icon fa fa-dashboard mr-1"></i>Dashboard <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item dropdown m-l-1">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
      <i class="nav-icon fa fa-wheelchair mr-1"></i>Lab Patients
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="/patients">Patients Listing</a>
    </div>
  </li>

   <li class="nav-item dropdown m-l-1">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
      <i class="nav-icon fa fa-chart-bar mr-1"></i>Patient Reports
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
     
    
       <a class="dropdown-item" href="<%= zero_lab_patient_reports_patient_index_path %>">Lab Zero Patient Report</a>
     
    </div>
  </li>

  <%=  render '/application/help' %>

</ul>