<div class="row p-custom">
  <div class="col-md-2">
    <h6 class="card-title p-custom1" style="font-weight: 700; font-size: 15px;padding: 10px 0 0 0;">
        Provisional Diagnosis
    </h6>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <%= f.input :provisional_diagnosis, collection: LabPatient::provisional_diagnoses.map{|p| [p.first.try(:titleize), p.first]}, include_blank: "-- SELECT--", input_html:{class: "form-control"}%>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <%= f.input :reporting_date, as: :string, label: 'Reporting Date *', input_html:{class: "form-control datepicker"}%>
    </div>
  </div>
</div>  

