<%= render partial: '/users/roles/default', locals: {f: f} %>
<div class="col-md-3">
  <div class="form-group">
    <%= f.input :district_id, label: '* District', collection: districts_list, label_method: :district_name, prompt: "-Select-", input_html:{class: "form-control user_district"}%>
  </div>
</div>

<div class="col-md-3">
  <div class="form-group">
    <%= f.input :hotspot_status, label: 'Manage Hotspot', collection: status_list, prompt: "-Select-", input_html:{class: "form-control" , value:f.object.hotspot_status}%>
  </div>
</div>