<style>
th {
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
}
</style>
<div class="main-content-wrap  d-flex flex-column">
  <%= render :partial => 'activities/filters/simple_activities_filters', :locals => {} %>
	<div class="main-content"> 
		<div class="row m-t-15">
  		<div class="col-md-12">
    		<div class="card ">
      		<div class="card-body p-0">
            <%= render 'line_list' %>
        	</div>
      	</div>
    	</div>
  	</div>
	</div>
</div>