<table class="table table-bordered table-hover listing-tbl">
                                <thead>
                                  <tr>
                                    <th>Name</th>
                                    <th>Province</th>
                                    <th>Division</th>
                                    <th>District</th>
                                    
                                  </tr>
                                </thead>

                                <tbody>
                                  <% @tehsils.each do |tehsil| %>
                                  <tr>
                                    <td class="tbl-td-color2"><%= tehsil.tehsil_name %></td>
                                    <td class="tbl-td-color2"><%= tehsil.district.province.province_name %></td>
                                    <td class="tbl-td-color2"><%= tehsil.district.division.division_name %></td>
                                    <td class="tbl-td-color2"><%= tehsil.district.district_name %></td>
                                  </tr>
                                  <% end %>
                                </tbody>
                              </table>