<div class="row p-custom">
  <div class="col-md-2">
    <h6 class="card-title p-custom1" style="font-weight: 700; font-size: 15px;padding: 10px 0 0 0;">
        Provisional Diagnosis
    </h6>
  </div>
  <div class="col">
    <div class="form-group">
      <label>Provisional Diagnosis</label>
      <input type="text" class="form-control" value="<%= form.provisional_diagnosis %>" readonly>
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <label>Reporting Date</label>
      <input type="text" class="form-control" value="<%= date form.reporting_date %>" readonly>
    </div>
  </div>
</div>