<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-body p-0 m-t-10">
                <!-- <h5 class="card-title m-0 p-custom2">Filter Records</h5>
                <div class="separator-breadcrumb border-top mb-3"></div> -->
                <%= form_for labs_path, method: :get do |f| %>
                    <div class="row p-custom">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>District</label>
                                <%= select_tag "district_id", options_for_select(all_districts, :selected => params[:district_id]), {class: 'form-control', :include_blank => "All"} %>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Type</label>
                                <%= select_tag "lab_type", options_for_select(["Private","Public"], :selected => params[:lab_type]), {class: 'form-control', :include_blank => "All"} %>
                            </div>
                        </div>


                    </div>

                    <div class="row p-custom">
                        

                        <div class="col-md-2">
                            <button type="submit" class="btn filter-btn col-md-12 m-t-23">Filter</button>
                        </div>

                        <div class="col-md-2">
                            <button type="button" class="btn  reset-btn col-md-12 m-t-23" onclick="resetData()">Reset</button>
                        </div>

                    </div>

               <% end %>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
function resetData(){
    $("#lab_type").val("");
    $("#district_id").val("");
};
</script>