<li class="nav-item dropdown m-l-1">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
        <i class="nav-icon fa fa-question-circle mr-1"></i>Help
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/assets/mobile_team/Patient_Portal_-_User_Manual_v1.0.pdf" target="_blank">Patient Portal User Manual</a>
        <a class="dropdown-item" href="/assets/mobile_team/Anti_Dengue_App-_User_Manual_v1.0.pdf" target="_blank">Anti-Dengue App Manual</a>
        <!-- <a class="dropdown-item" href="../App_Guide_-_Anti_Dengue_App.pdf" target="_blank">Anti-Dengue App Guide</a> -->
    </div>
</li>