<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-body p-0 m-t-10">
                <%= form_for department_wise_dormancy_reports_activities_path, method: :get do |f| %>
                    <div class="row p-custom">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Date From</label>
                                <input type="date" id="from" class="form-control" name="from" value="<%= params[:from] %>" required="required">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Date To</label>
                                <input type="date" id="to" class="form-control" name="to" value="<%= params[:to] %>" required="required">
                            </div>
                        </div>
                        
                        <% if false %>
                        <div class="col-md-2">
                          <div class="form-group">
                           <label>Status</label>
                             <%= select_tag :status, options_for_select(hotspot_status_list,{:selected => params[:status]}), {class: 'form-control', :include_blank => "All"}%>
                          </div>
                        </div>
                        <% end %>
                    </div>

                    <div class="row p-custom">
        
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn filter-btn col-md-12 m-t-23" onclick="filter_patients()">Filter</button>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn  reset-btn col-md-12 m-t-23" onclick="resetData()">Reset</button>
                        </div>
                      
                    </div>
               <% end %>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    $("#from").change(function() {
        var date_from = this.value
        document.getElementById("to").setAttribute("min", date_from);
    });

    function resetData(){
        $("select").val("");
        $("input, textarea").val("");
    } 
    // default 
    function initialize(){}
</script>