<!DOCTYPE html>
<html>
    <head>
        <title>DTS</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700,800,900" rel="stylesheet">
        <link rel="stylesheet" href="/assets/themes/lite-purple.min.css">
        <link rel="stylesheet" href="/assets/font-awesome.css">
        <link rel="stylesheet" href="/assets/vendor/perfect-scrollbar.css">
        <script src="https://use.fontawesome.com/972cd49e22.js"></script>
        <link rel="stylesheet" href="/assets/bootstrap-multiselect.css">
        <link rel="stylesheet" href="/assets/custom.css">
        <link rel="stylesheet" href="/assets/toastr.css">
        <link rel="stylesheet" href="/assets/bootstrap-datepicker.css">
        <link rel="stylesheet" href="/assets/spinner.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
        <%= javascript_include_tag 'application'%>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        
    </head>

    <body class="text-left">
        <%= yield %>
    </body>
</html>
